.jumbo-container {
    width: 80%;
    height: 100px;
    text-align: center;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px lightgrey;
    background-color: grey;
  }
  
  .jumbo-container h1 {
    margin-top: 1.0em;
    color: rgb(37, 35, 35);
  }
